# Secrets
secret.key
config.json
maintenance_log.txt
MaintenancePlanCustom.spec

# IDE config files
.idea/
.build/
.dist/
build/MaintenancePlanCustom/warn-MaintenancePlanCustom.txt
build/MaintenancePlanCustom/xref-MaintenancePlanCustom.html
build/MaintenancePlanCustom/localpycs/pyimod01_archive.pyc
build/MaintenancePlanCustom/localpycs/pyimod02_importers.pyc
build/MaintenancePlanCustom/localpycs/pyimod03_ctypes.pyc
build/MaintenancePlanCustom/EXE-00.toc
build/MaintenancePlanCustom/MaintenancePlanCustom.pkg
build/MaintenancePlanCustom/PKG-00.toc
build/MaintenancePlanCustom/PYZ-00.pyz
build/MaintenancePlanCustom/PYZ-00.toc
build/MaintenancePlanCustom/localpycs/pyimod04_pywin32.pyc
build/MaintenancePlanCustom/localpycs/struct.pyc
dist/MaintenancePlanCustom.exe
build/MaintenancePlanCustom/Analysis-00.toc
build/MaintenancePlanCustom/base_library.zip
